---
//import { themeColor, colors } from '@/styles/tokens/color/_colorOKLCH.css.ts'
import { text } from './index.css.ts'
---

<div>
  <p class={text.a}>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, sed.
  </p>
  <p class={text.b}>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, sed.
  </p>
  <p class="bg-orange-600">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, sed.
  </p>
  <p class={text.d}>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, sed.
  </p>
</div>
