---
import { cc  } from "./styles.css";
---

<main>
  <div>
    <button class={cc}>click here</button>
    <p class={cc}>hello pp</p>
    <p class={cc}>
      pour utiliser vanilla il faut utiliser le theme contract et non la
      variable src/styles/tokens/theme.css.ts
    </p>
    <h6>je suis h6 avec css global</h6>
  </div>
</main>
